<a href="https://colab.research.google.com/github/PyBeginner1/HospitalPatientTypePrediction/blob/main/Hospital_Patient_Type_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

from sklearn.metrics import accuracy_score, f1_score

import warnings
warnings.filterwarnings(action = 'ignore')

In [11]:
data = pd.read_csv('/content/patient.csv')

In [12]:
data

      HAEMATOCRIT  HAEMOGLOBINS  ERYTHROCYTE  LEUCOCYTE  ...    MCV  AGE  SEX  SOURCE
0            35.1          11.8         4.65        6.3  ...   75.5    1    F     out
1            43.5          14.8         5.39       12.7  ...   80.7    1    F     out
2            33.5          11.3         4.74       13.2  ...   70.7    1    F     out
3            39.1          13.7         4.98       10.5  ...   78.5    1    F     out
4            30.9           9.9         4.23       22.1  ...   73.0    1    M     out
...           ...           ...          ...        ...  ...    ...  ...  ...     ...
4407         32.8          10.4         3.49        8.1  ...   94.0   92    F      in
4408         33.7          10.8         3.67        6.7  ...   91.8   92    F      in
4409         33.2          11.2         3.47        7.2  ...   95.7   93    F     out
4410         31.5          10.4         3.15        9.1  ...  100.0   98    F      in
4411         33.5          10.9         3.44        5.8  ...   97.4   99    F     out

[4412 rows x 11 columns]

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4412 entries, 0 to 4411
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HAEMATOCRIT   4412 non-null   float64
 1   HAEMOGLOBINS  4412 non-null   float64
 2   ERYTHROCYTE   4412 non-null   float64
 3   LEUCOCYTE     4412 non-null   float64
 4   THROMBOCYTE   4412 non-null   int64
 5   MCH           4412 non-null   float64
 6   MCHC          4412 non-null   float64
 7   MCV           4412 non-null   float64
 8   AGE           4412 non-null   int64
 9   SEX           4412 non-null   object
 10  SOURCE        4412 non-null   object
dtypes: float64(7), int64(2), object(2)
memory usage: 379.3+ KB

Binary Encoding SEX column

In [13]:
data['SEX'] = data['SEX'].replace({'F' : 0, 'M' : 1})

In [14]:
data

      HAEMATOCRIT  HAEMOGLOBINS  ERYTHROCYTE  LEUCOCYTE  ...    MCV  AGE  SEX  SOURCE
0            35.1          11.8         4.65        6.3  ...   75.5    1    0     out
1            43.5          14.8         5.39       12.7  ...   80.7    1    0     out
2            33.5          11.3         4.74       13.2  ...   70.7    1    0     out
3            39.1          13.7         4.98       10.5  ...   78.5    1    0     out
4            30.9           9.9         4.23       22.1  ...   73.0    1    1     out
...           ...           ...          ...        ...  ...    ...  ...  ...     ...
4407         32.8          10.4         3.49        8.1  ...   94.0   92    0      in
4408         33.7          10.8         3.67        6.7  ...   91.8   92    0      in
4409         33.2          11.2         3.47        7.2  ...   95.7   93    0     out
4410         31.5          10.4         3.15        9.1  ...  100.0   98    0      in
4411         33.5          10.9         3.44        5.8  ...   97.4   99    0     out

[4412 rows x 11 columns]

Splitting features & target

In [16]:
X = data.drop('SOURCE', axis = 1)
Y = data['SOURCE']

In [17]:
X

      HAEMATOCRIT  HAEMOGLOBINS  ERYTHROCYTE  LEUCOCYTE  ...  MCHC    MCV  AGE  SEX
0            35.1          11.8         4.65        6.3  ...  33.6   75.5    1    0
1            43.5          14.8         5.39       12.7  ...  34.0   80.7    1    0
2            33.5          11.3         4.74       13.2  ...  33.7   70.7    1    0
3            39.1          13.7         4.98       10.5  ...  35.0   78.5    1    0
4            30.9           9.9         4.23       22.1  ...  32.0   73.0    1    1
...           ...           ...          ...        ...  ...   ...    ...  ...  ...
4407         32.8          10.4         3.49        8.1  ...  31.7   94.0   92    0
4408         33.7          10.8         3.67        6.7  ...  32.0   91.8   92    0
4409         33.2          11.2         3.47        7.2  ...  33.7   95.7   93    0
4410         31.5          10.4         3.15        9.1  ...  33.0  100.0   98    0
4411         33.5          10.9         3.44        5.8  ...  32.5   97.4   99    0

[4412 rows x 10 columns]

In [18]:
Y

0       out
1       out
2       out
3       out
4       out
       ...
4407     in
4408     in
4409    out
4410     in
4411    out
Name: SOURCE, Length: 4412, dtype: object

# Train-test Split

In [19]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, shuffle = True, random_state =1)

In [20]:
X.shape, X_train.shape, X_test.shape

((4412, 10), (3088, 10), (1324, 10))

# Scaling

In [26]:
scaler = StandardScaler()

scaler.fit(X_train)
X_train = pd.DataFrame(scaler.transform(X_train), index = X_train.index, columns = X_train.columns)
X_test = pd.DataFrame(scaler.transform(X_test), index = X_test.index, columns = X_test.columns)

In [27]:
X_train

      HAEMATOCRIT  HAEMOGLOBINS  ERYTHROCYTE  ...       MCV       AGE       SEX
2275     1.521571      0.918324     4.205082  ... -3.523787  0.113088 -1.043023
4093    -0.590225     -0.613524    -0.673427  ...  0.263954  1.411455 -1.043023
1727    -1.512041     -1.618799    -1.463160  ...  0.191392 -0.350615 -1.043023
615      0.817639      0.870454     0.765924  ... -0.127881 -1.138910  0.958752
1610     0.348351      0.391752    -0.036546  ...  0.670302 -0.443356 -1.043023
...           ...           ...          ...  ...       ...       ...       ...
2895     0.029906      0.056660    -0.240348  ...  0.510665  0.576790 -1.043023
2763    -0.003615     -0.278432    -0.533314  ...  1.149211  0.484050 -1.043023
905      1.320448      1.444897     0.753186  ...  0.742864 -0.953429  0.958752
3980    -0.539944     -0.565653    -0.558789  ...  0.089805  1.318715  0.958752
235     -0.288540     -0.230562    -0.011071  ... -0.606791 -1.741723 -1.043023

[3088 rows x 10 columns]

  # Training the model

In [31]:
models = {
    'Logistic Regression' : LogisticRegression(),
    'Decision Tree' : DecisionTreeClassifier(),
    'MLP Classifier' : MLPClassifier(),
    'Random Forest' : RandomForestClassifier(),
    'Gradient Boosting' : GradientBoostingClassifier()
}

for name, model in models.items():
  model.fit(X_train,Y_train)
  print(name + ' trained!')

Logistic Regression trained!
Decision Tree trained!
MLP Classifier trained!
Random Forest trained!
Gradient Boosting trained!

# Accuracy Score

In [38]:
for name, model in models.items():
  y_pred = model.predict(X_test)
  acc_score = accuracy_score(Y_test, y_pred)
  print(name + 'Accuracy:{:.2f}'.format(acc_score * 100))

Logistic RegressionAccuracy:71.15
Decision TreeAccuracy:65.48
MLP ClassifierAccuracy:74.24
Random ForestAccuracy:73.49
Gradient BoostingAccuracy:73.72

# F1 Score

In [41]:
for name, model in models.items():
  y_pred = model.predict(X_test)
  f1_scr = f1_score(Y_test, y_pred, pos_label = 'in')
  print(name + ' f1 Score:{:.2f}'.format(f1_scr * 100))

Logistic Regression f1 Score:59.70
Decision Tree f1 Score:57.96
MLP Classifier f1 Score:66.34
Random Forest f1 Score:65.82
Gradient Boosting f1 Score:64.85

# Making a predictive system

In [57]:
input_data = (1.521571,	0.918324,	4.205082,	-0.507635,	-0.368181,	-3.543672,	-1.886871,	-3.523787,	0.113088,	-1.043023)

input_numpy = np.asarray(input_data)

#reshape
input_data_reshape = input_numpy.reshape(1, -1)

for name, model in models.items():
  prediction = model.predict(input_data_reshape)
  print(name + ' predicts ' +prediction[0]+ 'care patient')

Logistic Regression predicts outcare patient
Decision Tree predicts outcare patient
MLP Classifier predicts outcare patient
Random Forest predicts outcare patient
Gradient Boosting predicts outcare patient